<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="global-dump-sql.ZPM">
    <Module>
      <Name>global-dump-sql</Name>
      <Version>1.0.3</Version>
      <Description>Show Global by SQL SELECT</Description>
      <Keywords>SQL, Globals, COS</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="zrcc.G.PKG"/>
<AfterInstallMessage>
Just providing the global name results in a full global dump.
&#13;Example:
&#13;USER>zn "user"
&#13;IRISAPP>d $system.SQL.Shell()
&#13;SQL Command Line Shell
&#13;... select TOP 5 * from zrcc_G.dump where zrcc_G.Dump('^%SYS','"JOURNAL"')=1
</AfterInstallMessage>
   </Module>
  </Document>
</Export>
