<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="global-dump-sql.ZPM">
    <Module>
      <Name>global-dump-sql</Name>
      <Version>1.0.0</Version>
      <Description>Show Global by SQL SELECT</Description>
      <Keywords>SQL, Globals, COS</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="zrcc.G.PKG"/>
    </Module>
  </Document>
</Export>
